<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/']"
        target="_blank"
        tooltip="Developed by Qumber Rizvi for Pilot Plans"
      >
        <span> AIRPORTS• </span> Find your airports
      </a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">AIRPORTS•</h1>
        <div class="col-sm-12 col-lg-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="Start typing to search airports"
              type="text"
              [(ngModel)]="query"
              (keyup)="searchAirports()"
            />

            <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-spaceship"> </i>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <div class="container-fluid min-vh-100">
        <div class="mb-lg-auto row" *ngIf="airports?.length else noAirports">
          <div *ngFor="let airport of airports" class="col-md-4 col-lg-4">
            <div class="card card-register col-md-12 col-lg-12">
              <div class="card-header airport-card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />
                <h4 class="card-title">{{airport.iata_code}}</h4>
                <h5
                  class="title airport-title">{{airport.airport_name}}{{(airport.country_name) && ', '}}{{airport.country_name}}</h5>
              </div>
              <div class="card-body airport-card">
                <tabset
                  class="nav-tabs-danger justify-content-center tab-subcategories"
                >
                  <tab heading="Info" (selectTab)="tabChange($event, airport)">
                    <div class="table-responsive justify-content-center">
                      <table class="table tablesorter">
                        <tbody>
                        <tr>
                          <td>AIRPORT ID</td>
                          <td>{{airport.airport_id}}</td>
                        </tr>
                        <tr>
                          <td>GEO NAME ID</td>
                          <td>{{airport.geoname_id}}</td>
                        </tr>
                        <tr>
                          <td>IATA Code</td>
                          <td>{{airport.iata_code}}</td>
                        </tr>
                        <tr>
                          <td>City IATA Code</td>
                          <td>{{airport.city_iata_code}}</td>
                        </tr>
                        <tr>
                          <td>ICAO Code</td>
                          <td>{{airport.icao_code}}</td>
                        </tr>
                        <tr>
                          <td>Airport Name</td>
                          <td>{{airport.airport_name}}</td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>{{airport.country_name || '-'}}</td>
                        </tr>
                        <tr>
                          <td>Country ISO</td>
                          <td>{{airport.country_iso2}}</td>
                        </tr>
                        <tr>
                          <td>GMT</td>
                          <td>{{airport.gmt || '-'}}</td>
                        </tr>
                        <tr>
                          <td>Latitude</td>
                          <td>{{airport.latitude}}</td>
                        </tr>
                        <tr>
                          <td>Longitude</td>
                          <td>{{airport.longitude}}</td>
                        </tr>
                        <tr>
                          <td>Phone Number</td>
                          <td>{{airport.phone_number || '-'}}</td>
                        </tr>
                        <tr>
                          <td>Timezone</td>
                          <td>{{airport.timezone}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </tab>
                  <tab heading="Map"
                       (selectTab)="tabChange($event, airport)"
                       *ngIf="airport.longitude && airport.longitude"
                  >
                    <div *ngIf="airport.isMapActive">
                      <div *ngIf="!airport.mapLoaded" class="justify-content-center text-center">
                        <p>Loading...</p>
                      </div>
                      <iframe
                        [src]="'https://maps.google.com/maps?q='+airport.latitude+','+airport.longitude+'&z=13&output=embed' | safe"
                        width="350"
                        height="620"
                        style="border:0; filter: brightness(80%)"
                        (load)="mapLoaded(airport)"
                      ></iframe>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noAirports>
          <div class="justify-content-center text-center">
            <p>{{(loader) ? 'Loading...' : 'No airports found!'}}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
